[Unit]
Description=EveryLauncher Monitor Service
After=systemd-modules-load.service

[Service]
ExecStart=/usr/bin/everylauncher-monitor

[Install]
WantedBy=multi-user.target
