[Unit]
Description=EveryLauncher Monitor Service
After=dbus.service lightdm.service

[Service]
ExecStart=/usr/bin/everylauncher-monitor %i
#User=%i
#Group=users

[Install]
WantedBy=multi-user.target
